<h1>
  <strong>
  <%= @article.title %>
  </strong>
</h1>

<p>
  <%= @article.text %>
</p>

<h2>コメント</h2>
<%= render @article.comments %>

<h2>コメントする</h2>
<%= render "comments/form" %>

<%= link_to '戻る', articles_path %>
<%= link_to '編集', edit_article_path(@article) %>
